:root {
  --twilight: rgb(30, 20, 40);
  --darkGrayPurple: rgb(60, 50, 80);
  --darkerGray: rgb(140, 140, 140);
  --darkestGray: rgb(70, 70, 70);
  background-color: var(--twilight);
}

/* https://stackoverflow.com/questions/712689/css-div-stretch-100-page-height */
html{
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  padding: 1% 3% 3% 3%;
  font: 17px Verdana;
}

/* Left side nav bar appearance */
nav {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 15%;
  background-color: var(--darkestGray);
  border-right: silver solid 5px;
}

/* Site logo, at top of nav bar */
#logo {
  position: relative;
  top: 3vh;
  left: 10%;
  width: 80%;
  border: 3px solid mediumslateblue;
  border-radius: 100%;
  box-shadow: 0.9vh 0.6vw plum, -0.9vh -0.6vw violet;
  animation: logoAnimation 5s infinite;
  animation-play-state: paused;
}

/* Play animation of shadows rotating around image when hovered over */
#logo:hover {
  animation-play-state: running;
  
}

@keyframes logoAnimation {
  0% { box-shadow: 0.9vh 0.6vw plum, -0.9vh -0.6vw violet; }
  5% { box-shadow: -0.9vh 0.6vw plum, 0.9vh -0.6vw violet; }
  10% { box-shadow: -0.9vh 0.6vw plum, 0.9vh -0.6vw violet; }
  15% { box-shadow: -0.9vh -0.6vw plum, 0.9vh 0.6vw violet; }
  25% { box-shadow: -0.9vh -0.6vw plum, 0.9vh 0.6vw violet; }
  30% { box-shadow: 0.9vh 0.6vw plum, -0.9vh -0.6vw violet; }
  50% { box-shadow: 0.9vh 0.6vw plum, -0.9vh -0.6vw violet; }
  55% { box-shadow: 0.9vh -0.6vw plum, -0.9vh 0.6vw violet; }
  60% { box-shadow: 0.9vh -0.6vw plum, -0.9vh 0.6vw violet; }
  65% { box-shadow: -0.9vh -0.6vw plum, 0.9vh 0.6vw violet; }
  75% { box-shadow: -0.9vh -0.6vw plum, 0.9vh 0.6vw violet; }
  80% { box-shadow: 0.9vh 0.6vw plum, -0.9vh -0.6vw violet; }
}

/* The site's 'title', below logo */
h1 {
  text-align: center;
  margin: 5vh 0vw 2vh 0.5vw;
  font: 1.8vw Garamond;
  font-weight: bold;
  color: antiquewhite;
  text-shadow: 1px 1px purple, 1px -1px mediumslateblue, -1px 1px mediumslateblue, -1px -1px purple;
}

/* Description of the site, below h1 */
#siteDescription {
  text-align: center;
  margin: 0px 1vw;
  font: 1vw Arial;
  color: silver;
}

/* List of links to posts, below siteDescription */
.navListLabel {
  margin: 3vh 0.5vw 0.5vh 0.5vw;
}

.navListLabel > figcaption {
  text-align: center;
  color: antiquewhite;
  font: 1.5vw "Lucida Console";
  text-shadow: 1px 1px purple, 1px -1px mediumslateblue, -1px 1px mediumslateblue, -1px -1px purple;
}

.navList {
  padding: 0px 0.5vw 0px 1.5vw;
}

.navList > li {
  list-style: square;
  padding: 0px 0px 1vh 0px;
  color: violet;
}

.navPostListLink {
  display: block;
  padding: 2px;
  font: 1.2vw "Courier New";
  font-weight: bold;
  color: lightsteelblue;
  text-decoration: none;
  border-radius: 5px;
}

.navPostListLink:hover {background-color: silver; color: purple;}

/* All content except what is inside nav bar */
main {
  margin-left: 15%; /* 'gives' left side of screen to nav bar */
}

/* Remove ul styling */
.postList {
  padding: 0px;
}

.postList > li {
  list-style: none;
  padding: 15px 0px;
}

.commentList > li {
  list-style: none;
  margin: 10px 0px;

}

/* Styling for each individual post and comment block */
.postContainer {
  padding: 5px;
  background-color: darkgray;
  border: purple solid 5px;
  border-radius: 15px;
}

.commentContainer {
  padding: 3px;
  background-color: lightgray;
  border: mediumslateblue solid 3px;
  border-radius: 15px;
}

/* Styling for metadata (id and datetime) */
.metadata { 
  color: rgba(0, 0, 0, 0.7);
  padding: 2px;
  font: 13px "Courier New";
  font-style: italic;
}

.metadata:hover {
  color: black;
  background-color:aliceblue;
  font-weight: bold;
  border-radius: 5px;
}

/* Elements at the top of a post and comment are a flexbox*/
.contentTop {
  display: flex;
  flex-direction: row-reverse;
  gap: 0px;
}

/* Force content in a flexbox to the far left */
.flexboxForceLeft {
  margin: 0px auto 0px 0px;
}

/* The main content of a post or comment block */
.contentMain {
  margin: 15px;
  overflow: hidden; /* https://stackoverflow.com/questions/9017120/how-to-keep-floating-div-inside-frame-of-parent-div */
}

/* Makes metadata rest close to the top of the title */
.postTitle {
  margin: 3px 5px;
  font: 22px "Georgia";
  font-weight: bold;
}

/* Post image styling */
.postImage {
  float: left;
  min-width: 10%;
  min-height: 10vh;
  max-width: 50%;
  max-height: 50vh;
  margin: 0px 15px 5px 0px;
  border: var(--darkGrayPurple) solid 5px;
  border-radius: 15px;
}

/* Remove unnecessary margins on postText p */
.postText {
  margin: 0px;
}

/* Rules all 'fancy'/'decorated' buttons follow */
.decoratedButton{
  background-size: 65%;
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center;
  position: relative;
  width: 40px;
  height: 40px;
  border: transparent solid 3px;
  border-radius: 7px;
}

.decoratedButton:hover {
  background-size: 85%;
  background-color: var(--darkGrayPurple);
  cursor: pointer;
}

.decoratedButton:active {
  background-color: var(--darkerGray);
  top: 3px;
}

/* Delete Buttons appearance */
.deleteButton {
  background-image: url(/images/mutedDeleteIcon.png); /* https://www.w3schools.com/cssref/pr_background-image.php */
}

.deleteButton:hover {
  background-image: url(/images/deleteIcon.png);
  border-color: darkred;
}

/* Comment Buttons appearance */
.commentButton {
  background-image: url(/images/mutedCommentIcon.png);
}

.commentButton:hover {
  background-image: url(/images/commentIcon.png);
  border-color: cornflowerblue;
}

/* Edit Buttons appearance */
.editButton {
  background-image: url(/images/mutedEditIcon.png);
}

.editButton:hover {
  background-image: url(/images/editIcon.png);
  border-color: goldenrod;
}

/* Hides whatever element it's attached to */
.hidden {
  display: none;
}