/* Popup appearance - https://www.w3schools.com/howto/howto_js_popup.asp */
/* Popup container */
#popupContainer {
  position: fixed;
  top: 0vh;
  left: 0vw;
}

#popup {
  top: 10vh;
  left: 15vw;
  color: white;
  background-color: #555;
  padding: 10px;
  border: silver solid 5px;
  border-radius: 25px;
  position: absolute;
  z-index: 3;
  box-shadow: 1.7vh 1.4vw rgba(130, 0, 130, 0.6), -1.7vh -1.4vw rgba(220, 160, 220, 0.6);
  animation: popupFadeIn 1s
}

/* Animates the popup fading in while the shadows 'slide into place' */
@keyframes popupFadeIn {
  0% {
    opacity: 0;
    box-shadow: 3.5vh 3vw rgba(220, 160, 220, 0.6), -3.5vh -3vw rgba(130, 0, 130, 0.6);
  }
  50% {
    opacity: 1;
    box-shadow: 2vh -1.7vw rgba(220, 160, 220, 0.6), -2vh 1.7vw rgba(130, 0, 130, 0.6); 
  }
  100% {
    box-shadow: -1.7vh -1.4vw rgba(220, 160, 220, 0.6), 1.7vh 1.4vw rgba(130, 0, 130, 0.6);
  }
}

/* Heading describing what the popup is for */
#popupHeading {
  margin: 0.2vh 0vw 2vh 0vw;
  font: 20pt Garamond;
  font-weight: bold;
}

/* The labels/titles of each area requiring user input in a popup */
.popupAreaLabel {
  color: antiquewhite;
  font: 16pt Georgia;
  margin: 15px 0px 5px 0px;
  display: block;
}

/* Text in a popup providing extra detail */
.popupDetailText {
  color: lightgray;
  margin: 0px 0px 10px 0px;
}

/* User input text fields/areas in popups */
.popupTextField {
  width: 50vw;
  font: 13pt Helvetica;
  border: transparent solid 5px;
}

.popupTextarea {
  resize: vertical;
  width: 65vw;
  height: 25vh;
  font: 13pt Arial;
  border: transparent solid 5px;
}

.popupTextField:hover, .popupTextarea:hover {border-color: plum;}
.popupTextField:focus, .popupTextarea:focus {border-color: purple;}

/* Gives the checkbox some room to breath cause it needs it */
.editImageCheck {
  margin: 0vh 1vw 1vh 0.5vw;
  scale: 1.5;
}

/* Animating the file submission box fading in when toggled to show */
.imageUpload {
  position: relative;
}

.editImageShow {
  display: inline;
  animation: imageUploadFadeIn 0.5s ease;
}

@keyframes imageUploadFadeIn {
  from {opacity: 0; left: 10vw}
  to {opacity: 1; left: 0vw}
}

/* Send/Cancel buttons on popups */
#popupButtonsContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.popupButtons {
  border: silver solid 3px;
  border-radius: 5px;
  position: relative;
  min-height: 5vh;
  min-width: 5vw;
  font: 13pt "Lucida Console";
  font-weight: bold;
  color: white;
}
.popupButtons:hover {border-color: plum;}
.popupButtons:active {border-color: darkorchid; color: black; top: 3px;}

#popupButtonCancel {background-color: var(--darkestGray);}
#popupButtonCancel:hover {background-color: darkred;}
#popupButtonCancel:active {background-color: red;}

#popupButtonSend {background-color: darkblue;}
#popupButtonSend:hover {background-color: green;}
#popupButtonSend:active {background-color: greenyellow;}

/* The layer that applies to the background, 'unfocusing' everything but the popup */
#unfocused {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: darkslateblue;
  opacity: 0.5;
  animation: unfocusedFadeIn 0.5s
}

/* Animate the unfocused layer fading in */
@keyframes unfocusedFadeIn {
  from {opacity: 0;}
  to {opacity: 0.5;}
}