:root {
  --twilight: rgb(30, 20, 40);
  --darkGrayPurple: rgb(60, 50, 80);
  --darkerGray: rgb(140, 140, 140);
  --darkestGray: rgb(70, 70, 70);
  background-color: var(--twilight);
}

/* https://stackoverflow.com/questions/712689/css-div-stretch-100-page-height */
html{
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  padding: 1% 3% 3% 3%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 13%;
  background-color: var(--darkestGray);
}

h1{
  margin: 10% 0px;
  color: white;
}

#mainContent{
  margin-left: 12%; /* 'gives' left side of screen to nav bar */
}

#logo{
  position: relative;
  top: 2%;
  left: 1vw;
  width: 10vw;
  max-height: 30vh;
  background-color: white;
  border: 3px solid black;
  border-radius: 100%;
}

.postImage{
  max-width: 40%;
  max-height: 40%;
}

.postList > li {
  list-style: none;
  margin: 20px 0px;
  padding: 5px;
}

.postContainer {
  padding: 5px;
  background-color: darkgray;
  border: purple solid 3px;
  border-radius: 15px;
}

.commentList > li {
  list-style: none;
  margin: 10px 0px;

}

.commentContainer{
  padding: 3px;
  background-color: lightgray;
  border: mediumslateblue solid 3px;
  border-radius: 15px;
}

/* Elements at the top of a post and comment are a flexbox
   TODO: can maybe combine both classes in future*/
.postTop {
  display: flex;
  flex-direction: row-reverse;
  gap: 0px;
  margin: 5px;
}

.commentTop {
  display: flex;
  flex-direction: row-reverse;
  gap: 0px;
  margin: 5px;
}

.postTitle {
  margin: auto auto auto 0px;
}

/* Rules all 'fancy'/'decorated' buttons follow */
.decoratedButton{
  background-size: 65%;
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center;
  position: relative;
  width: 40px;
  height: 40px;
  border: transparent solid 3px;
  border-radius: 7px;
}

.decoratedButton:hover {
  background-size: 85%;
  background-color: var(--darkGrayPurple);
  cursor: pointer;
}

.decoratedButton:active {
  background-color: var(--darkerGray);
  top: 3px;
}

/* Delete Buttons appearance */
.deleteButton {
  background-image: url(/images/mutedDeleteIcon.png); /* https://www.w3schools.com/cssref/pr_background-image.php */
}

.deleteButton:hover {
  background-image: url(/images/deleteIcon.png);
  border-color: darkred;
}

/* Comment Buttons appearance */
.commentButton {
  background-image: url(/images/mutedCommentIcon.png);
}

.commentButton:hover {
  background-image: url(/images/commentIcon.png);
  border-color: cornflowerblue;
}

/* Edit Buttons appearance */
.editButton {
  background-image: url(/images/mutedEditIcon.png);
}

.editButton:hover {
  background-image: url(/images/editIcon.png);
  border-color: goldenrod;
}

/* Hides whatever element it's attached to */
.hidden {
  display: none;
}

/* Popup appearance - https://www.w3schools.com/howto/howto_js_popup.asp */
/* Popup container */
.popupContainer{
  position: fixed;
  top: 80%;
  left: 25%;
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  height: 500px;
  width: 800px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 3;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* The layer that applies to the background, 'unfocusing' everything but the popup */
.unfocused{
  visibility: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: darkslateblue;
  opacity: 0.5;
}

/* Toggles the popup & unfocused layer and removes decorates buttons position rule */
.popupShow {
  visibility: visible;
  animation: popupFadeIn 0.5s
}
.unfocusedShow {
  visibility: visible;
  animation: unfocusedFadeIn 0.5s
}

.decoratedButtonDeactivate{
  position: static;
}

/* Animates the popup and unfocused layer fading in */
@keyframes popupFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes unfocusedFadeIn {
  from {opacity: 0;}
  to {opacity: 0.5;}
}